<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MaterialDesignThemes" version="5.0.0" targetFramework="net8.0-windows" />
  <package id="MaterialDesignColors" version="3.0.0" targetFramework="net8.0-windows" />
  <package id="RestSharp" version="110.2.0" targetFramework="net8.0-windows" />
  <package id="LiveChartsCore.SkiaSharpView.WPF" version="2.0.0-rc2" targetFramework="net8.0-windows" />
  <package id="CommunityToolkit.Mvvm" version="8.2.2" targetFramework="net8.0-windows" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" targetFramework="net8.0-windows" />
  <package id="Microsoft.Extensions.Configuration.Json" version="8.0.0" targetFramework="net8.0-windows" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net8.0-windows" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.1.0" targetFramework="net8.0-windows" />
</packages>